.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
  border-bottom: 60px solid var(--accent-color);
}

.hero {
  position: relative;
  padding: 240px 24px;
  min-height: 300px;
}

.hero-wrapper .hero p{
  max-width: 220px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  font-size: 60px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 240px 32px;
  }
}

/* Slim variant */
.hero.slim {
  min-height: 230px;
  height: 230px;
  padding: 0;
  display: flex;
  align-items: center;
}

.hero.slim img {
  object-position: center;
}

.hero.slim > div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero.slim h1 {
  font-size: 36px;
  margin: 0;
}

@media (width >= 900px) {
  .hero.slim > div {
    padding: 0 32px;
  }

  .hero.slim h1 {
    font-size: 44px;
  }
}