.related-articles {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                font-weight: bold;
            }

            p {
                font-size: smaller;
                margin: 0;
            }
        }
    }
}