footer {
  background-color: var(--background-dark,#202020);
  color: var(--color-foreground-dark,#fff);
  padding: .5em 1em
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: var(--color-foreground-dark,#fff);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
