body.article {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 80px calc((100% - 1200px) / 2);

        h1 {
            width: 100%;
        }

        >div {
            width: 70%;
            padding: 0;

            >div {
                padding: 0;
            }
        }

        >aside {
            width: calc(30% - 50px);
        }
    }

    p.description {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.6;
        color: var(--text-secondary-color);
    }

    span.dateline {
        font-weight: bold;
    }

     ul.article-tags{
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 30px 0;
        padding: 0;

        li {
        background-color: #d0d0d0;
        border-radius: .25rem;
        color: #353535;
        font-size: .875rem;
        padding: .25rem .5rem
    }
    }

}